In [1]:
import requests
import json
import pandas as pd

# Create a Google places class for webscraping

In [107]:
class GooglePlaces(object):
    def __init__(self, apiKey):
        super(GooglePlaces, self).__init__()
        self.apiKey = apiKey

    def search_places(self,name,inputtype):
        endpoint_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
        params = {
            'input': name,
            'inputtype':inputtype,
            'key': self.apiKey
        }
        res = requests.get(endpoint_url, params = params)
        results =  json.loads(res.content)
        return results
    def get_place_details(self, place_id,fields):
        endpoint_url = "https://maps.googleapis.com/maps/api/place/details/json"
        params = {
            'placeid': place_id,
            'fields': ",".join(fields),
            'key': self.apiKey
        }
        res = requests.get(endpoint_url, params = params)
        place_details =  json.loads(res.content)
        return place_details

##### Load the Vancouver Art facilities data

In [65]:
poi = pd.read_csv('/Users/yuxuancui/Desktop/MDS/data599/r5r/vancouver_facilities.csv')

In [72]:
poi_names=poi["Facility_Name"]

In [220]:
apiKey="AIzaSyA_O9wNiYYALLuROYMDBUkGTuyr0DlEzU0"

In [222]:
def get_pid(poi_name,apiKey):
    """
    get_pid funciton takes two arguments 
    1. names: The Art facilit names 
    2. Google APIkey
    will return a list of place_id
    """
    api = GooglePlaces(apiKey)
    pid=[]
    names=[]
    for name in poi_name:
        places = api.search_places(name,"textquery")
        if places['candidates']!=[]:
            p_id=places['candidates'][0]["place_id"]
            pid.append(p_id)
            names.append(name)
        else:
            pid.append(0)
            name="can not find"
            names.append(name)
    df=pd.DataFrame()
    df["poi_name"]=poi_name
    df["names"]=names
    df["pid"]=pid
        
    return df

In [223]:
pid = get_pid(poi_names,apiKey)

In [225]:
pid.to_csv("/Users/yuxuancui/Desktop/MDS/data599/google-reviews-arts/poi_pid.csv")

In [ ]:
fields = ['name', 'formatted_address', 'rating', 'review']

In [209]:
def get_info(pid,fields):
    """
    get_info takes two argument 
    1. pid: place_id where can get it by using get_pid
    2. fields: properties that want to get 
    funciton will return a panda datafram with 4 columns, name, adress, rating and review
    """
    names=[]
    ratings=[]
    reviews=[]
    review_num=[]
    for id in pid:
        details= api.get_place_details(id,fields)
        if all (k in details['result'] for k in ('rating','reviews')):
            name=details['result']['name']
            rating=details['result']['rating']
            review = details['result']['reviews']
            n=len(review)
            names.append(name)
            ratings.append(rating)
            reviews.append(review)
            review_num.append(n)
        elif 'rating' in details['result']:
            name=details['result']['name']
            rating=details['result']['rating']
            review=0
            n==0
            names.append(name)
            ratings.append(rating)
            reviews.append(review)
            review_num.append(n)
        elif 'review' in details['result']:
            name=details['result']['name']
            rating= "no data"
            review = details['result']['reviews']
            n=len(review)
            names.append(name)
            ratings.append(rating)
            reviews.append(review)
            review_num.append(n)

        else:
            name=details['result']['name']
            rating= "no data"
            review = 0
            n=0
            names.append(name)
            ratings.append(rating)
            reviews.append(review)
            review_num.append(n)



    df = pd.DataFrame()
    df["Name"]=names
    df["Rating"]=ratings
    df["Reviews"]=reviews
    df["Review_num"]=review_num
    return df

In [210]:
result=get_info(pid,fields)

In [216]:
result["pid"]=pid

In [217]:
result

,Name,Rating,Reviews,Review_num,pid
0,39 Service Battalion (12 Company) Richmond,5,"[{'author_name': 'li anthony', 'author_url': '...",5,ChIJhwQHwzh1hlQRJdE3ZdQPI9I
1,15th Field Artillery Regiment (RCA),5,"[{'author_name': 'Tony Tovat', 'author_url': '...",4,ChIJpdEUnLBzhlQR0ome6cv5el8
2,ABC Preschool Academy,no data,0,0,ChIJF3ZMao7RhVQRYMRn09PBo34
3,Agassiz Library,5,"[{'author_name': 'Danelle Klaassen', 'author_u...",5,ChIJNaGyI2sThFQRQ33H2ji42y4
4,Ponderosa Commons East (Audain Art Centre and ...,5,"[{'author_name': 'Amani Abid', 'author_url': '...",1,ChIJaUbtlrVyhlQREWwxkqr-Y9A
...,...,...,...,...,...
412,Woodward's 43,4.3,"[{'author_name': 'Christopher Cedelle', 'autho...",5,ChIJo8K5knlxhlQRBkyzjcK92Bg
413,Vancouver Island Regl Library - Woss Branch,5,"[{'author_name': 'Luke Harmison', 'author_url'...",1,ChIJlb5JzHEAY1QRgjcJ_n2Bbrk
414,Yarrow Library,5,"[{'author_name': 'Virginia Russell', 'author_u...",5,ChIJa5aUHc9HhFQRkikK61az_Lk
415,"York Theatre, The Cultch",4.5,"[{'author_name': 'Sydney Pazurik', 'author_url...",5,ChIJQY5X1xVxhlQRXcRkTyGbCbs
416,Yuk Yuk's,3.4,"[{'author_name': 'Tasha Paradis', 'author_url'...",5,ChIJY3627p1KhFQRNKezWfRP3dI

In [212]:
result.to_csv("/Users/yuxuancui/Desktop/MDS/data599/google-reviews-arts/google_reviews_poi.csv")