** Wrangling of Datablocks

In [9]:
import pandas as pd
import numpy as np

In [3]:
DBs = pd.read_csv('../../data/raw/DBs.csv')
DBs = DBs[['DBUID','CMANAME','DBPOP','lat','lon','prox_idx_emp','prox_idx_pharma','prox_idx_childcare','prox_idx_health','prox_idx_grocery','prox_idx_educpri','prox_idx_educsec','prox_idx_lib','prox_idx_parks','prox_idx_transit']]
DBs = DBs.rename(columns = {'DBUID':'id', 'CMANAME':'metropolitan_area', 'DBPOP':'pop','prox_idx_emp':'prox_emp','prox_idx_pharma':'prox_pharma','prox_idx_childcare':'prox_childcare','prox_idx_health':'prox_health','prox_idx_grocery':'prox_grocery','prox_idx_educpri':'prox_educpri','prox_idx_educsec':'prox_educsec','prox_idx_lib':'prox_lib','prox_idx_parks':'prox_parks','prox_idx_transit':'prox_transit'})

DBs

,id,metropolitan_area,pop,lat,lon,prox_emp,prox_pharma,prox_childcare,prox_health,prox_grocery,prox_educpri,prox_educsec,prox_lib,prox_parks,prox_transit
0,10010165001,St. John's,160,47.5300,-52.7765,0.0202,0.0121,0.0402,0.0069,..,0.0384,0.0495,0.0486,0.0141,0.0058
1,10010165002,St. John's,25,47.5290,-52.7793,0.0193,0.014,0.0257,0.0028,..,0.0562,0.0375,..,..,0.0046
2,10010165006,St. John's,268,47.5265,-52.7768,0.0199,0.0205,0.0395,0.007,..,0.0734,0.0436,0.0545,..,0.0101
3,10010165007,St. John's,53,47.5263,-52.7726,0.0204,0.0238,0.0425,0.0074,..,0.0733,0.0548,0.0796,0.013,0.0098
4,10010166001,St. John's,71,47.5268,-52.7730,0.0204,0.0238,0.0425,0.0074,..,0.0735,0.0548,0.0796,0.013,0.0098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489671,62080028007,NaN,112,68.6235,-95.8734,..,..,..,..,..,..,..,..,..,..
489672,62080028008,NaN,0,68.6232,-95.8756,..,..,..,..,..,..,..,..,..,..
489673,62080028009,NaN,75,68.6230,-95.8369,..,..,..,..,..,..,..,..,..,..
489674,62080028010,NaN,47,68.6151,-95.8479,..,..,..,..,..,..,..,..,..,..
489675,62080028011,NaN,39,68.6204,-95.8743,..,..,..,..,..,..,..,..,..,..

In [9]:
DBsVan = DBs[DBs['metropolitan_area'] == 'Vancouver']
DBsProx  = DBsVan.drop(columns=['metropolitan_area','lat','lon','pop'])
DBsVan = DBsVan.drop(columns=['metropolitan_area','prox_emp','prox_pharma','prox_childcare','prox_health','prox_grocery','prox_educpri','prox_educsec','prox_lib','prox_parks','prox_transit'])

DBsVan

                 id  pop      lat       lon
442430  59150004004   35  49.3739 -123.2738
442431  59150004005   50  49.3746 -123.2757
442432  59150004006   94  49.3738 -123.2763
442433  59150004011    0  49.3735 -123.2725
442434  59150004012    0  49.3725 -123.2729
...             ...  ...      ...       ...
457622  59154055002    0  49.0044 -122.4774
457623  59154055003    0  49.0036 -122.4762
457624  59154055004  386  49.0029 -122.4757
457625  59154055005    0  49.0062 -122.4772
457626  59154056001   85  49.0053 -122.4748

[15197 rows x 4 columns]

In [10]:
DBsProx

,id,prox_emp,prox_pharma,prox_childcare,prox_health,prox_grocery,prox_educpri,prox_educsec,prox_lib,prox_parks,prox_transit
442430,59150004004,0.0066,0.0648,..,0.0054,0.0591,0.0388,0.05,..,0.0257,0.016
442431,59150004005,0.0065,0.0405,..,0.0057,0.0506,0.035,0.0451,..,0.0238,0.0094
442432,59150004006,0.0048,0.0269,..,0.0032,0.1419,0.0392,0.0505,..,0.0323,0.0089
442433,59150004011,0.0034,0.0463,..,0.002,0.0405,0.0425,0.0548,..,0.0271,0.0132
442434,59150004012,0.0027,0.0239,..,0.0015,0.0329,0.0445,0.0573,..,0.0303,0.0081
...,...,...,...,...,...,...,...,...,...,...,...
457622,59154055002,0.0023,..,..,..,..,..,..,..,..,..
457623,59154055003,0.0026,..,..,..,..,..,..,..,..,..
457624,59154055004,0.0026,..,..,..,..,..,..,..,..,..
457625,59154055005,0.0018,..,..,..,..,..,..,..,..,..
457626,59154056001,0.0024,..,..,..,..,..,..,..,..,..

In [8]:
DBsVan.to_csv('../../data/clean/vancouver_db.csv', index=False)

In [11]:
DBsProx.to_csv('../../data/clean/vancouver_Prox.csv', index=False)