In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/data')

Mounted at /content/data

In [ ]:
db_data = pd.read_csv('/content/data/MyDrive/Capstone_Data/DBs.csv')
db_data.head()

         DBUID DBPOP     DAUID  ... transit_na  amenity_dense suppressed
0  10010165001   160  10010165  ...          0              0          0
1  10010165002    25  10010165  ...          0              0          0
2  10010165006   268  10010165  ...          0              0          0
3  10010165007    53  10010165  ...          0              0          0
4  10010166001    71  10010166  ...          0              0          0

[5 rows x 41 columns]

In [ ]:
poi = pd.read_csv('/content/data/MyDrive/Capstone_Data/ODCAF_v1.0.csv', encoding='latin-1')
poi.head()

   Index                      Facility_Name  ...     Latitude     Longitude
0      1                   #Hashtag Gallery  ...  43.65169472  -79.40803272
1      2  'Ksan Historical Village & Museum  ...   55.2645508  -127.6428124
2      3               'School Days' Museum  ...    45.963283   -66.6419017
3      4                   10 Austin Street  ...  46.09247776  -64.78022946
4      5              10 Gates Dancing Inc.  ...  45.40856224  -75.71536766

[5 rows x 17 columns]

In [ ]:
db_data.PRNAME.unique()

array(['Newfoundland and Labrador / Terre-Neuve-et-Labrador',
       'Prince Edward Island / Île-du-Prince-Édouard',
       'Nova Scotia / Nouvelle-Écosse',
       'New Brunswick / Nouveau-Brunswick', 'Quebec / Québec', 'Ontario',
       'Manitoba', 'Saskatchewan', 'Alberta',
       'British Columbia / Colombie-Britannique', 'Yukon',
       'Northwest Territories / Territoires du Nord-Ouest', 'Nunavut'],
      dtype=object)

In [ ]:
bc = db_data[db_data['PRNAME'] == 'British Columbia / Colombie-Britannique']
bc.CMANAME.unique()

array([nan, 'Cranbrook', 'Nelson', 'Penticton', 'Abbotsford - Mission',
       'Chilliwack', 'Vancouver', 'Victoria', 'Duncan', 'Parksville',
       'Nanaimo', 'Port Alberni', 'Campbell River', 'Courtenay',
       'Powell River', 'Squamish', 'Kamloops', 'Kelowna', 'Vernon',
       'Salmon Arm', 'Quesnel', 'Williams Lake', 'Prince Rupert',
       'Terrace', 'Prince George', 'Dawson Creek', 'Fort St. John'],
      dtype=object)

In [ ]:
van = bc[bc['CMANAME'] == 'Vancouver']
van.count()

DBUID                 15197
DBPOP                 15197
DAUID                 15197
DAPOP                 15197
CSDUID                15197
CSDNAME               15197
CSDTYPE               15197
CSDPOP                15197
CMAUID                15197
CMAPUID               15197
CMANAME               15197
CMATYPE               15197
CMAPOP                15197
PRUID                 15197
PRNAME                15197
PRPOP                 15197
lon                   15197
lat                   15197
in_db_emp             15197
prox_idx_emp          15197
in_db_pharma          15197
prox_idx_pharma       15197
in_db_childcare       15197
prox_idx_childcare    15197
in_db_health          15197
prox_idx_health       15197
in_db_grocery         15197
prox_idx_grocery      15197
in_db_educpri         15197
prox_idx_educpri      15197
in_db_educsec         15197
prox_idx_educsec      15197
in_db_lib             15197
prox_idx_lib          15197
in_db_parks           15197
prox_idx_parks        15197
in_db_transit         15197
prox_idx_transit      15197
transit_na            15197
amenity_dense         15197
suppressed            15197
dtype: int64

In [ ]:
van = van[['DBUID', 'DBPOP', 'lat', 'lon']]

In [ ]:
van.rename(columns={'DBUID':'id'}, inplace=True)
van.to_csv('vancouver_db.csv', index=False)

In [ ]:
van.describe()

                 id           lat           lon
count  1.519700e+04  15197.000000  15197.000000
mean   5.915206e+10     49.215648   -122.960926
std    1.234185e+06      0.079503      0.180775
min    5.915000e+10     49.002300   -123.422100
25%    5.915094e+10     49.168900   -123.104200
50%    5.915211e+10     49.230600   -123.012900
75%    5.915318e+10     49.267900   -122.829600
max    5.915406e+10     49.531200   -122.424900

In [ ]:
van_list = ['richmond','vancouver','burnaby','township of langley','north vancouver','new-westminster','maple ridge','port moody','surrey','langley',
            'coquitlam','delta','fort langley','white rock','pitt meadows','port coquitlam']

In [ ]:
bc = poi[poi['Prov_Terr'] == 'bc']
van_all = bc[bc['City'].isin(van_list)]
van_all.count()

Index                    447
Facility_Name            447
Source_Facility_Type     447
ODCAF_Facility_Type      447
Provider                 447
Unit                     447
Street_No                447
Street_Name              447
Postal_Code              447
City                     447
Prov_Terr                447
Source_Format_Address    447
CSD_Name                 447
CSDUID                   447
PRUID                    447
Latitude                 447
Longitude                447
dtype: int64

In [ ]:
van_all.rename(columns={'Index':'id'}, inplace=True)
van_all.rename(columns={'Latitude':'lat'}, inplace=True)
van_all.rename(columns={'Longitude':'lon'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
van_all[["lat", "lon"]] = van_all[["lat", "lon"]].apply(pd.to_numeric, errors='coerce')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
van_all = van_all.dropna()

In [ ]:
van_all = van_all[['id', 'lat', 'lon']]
van_all.to_csv('vancouver_facilities.csv', index=False)

In [ ]:
van_all.count()

id                       436
Facility_Name            436
Source_Facility_Type     436
ODCAF_Facility_Type      436
Provider                 436
Unit                     436
Street_No                436
Street_Name              436
Postal_Code              436
City                     436
Prov_Terr                436
Source_Format_Address    436
CSD_Name                 436
CSDUID                   436
PRUID                    436
lat                      436
lon                      436
dtype: int64

In [ ]:
musemu = van_all[van_all['ODCAF_Facility_Type'] == 'museum']
musemu.count()
musemu.to_csv('vancouver_museums.csv', index=False)

In [ ]:
musemu = musemu[['Index', 'Latitude', 'Longitude']]

In [ ]:
musemu.rename(columns={'Index':'id'}, inplace=True)
musemu.rename(columns={'Latitude':'lat'}, inplace=True)
musemu.rename(columns={'Longitude':'lon'}, inplace=True)

In [ ]:
musemu.dtypes

id       int64
lat    float64
lon    float64
dtype: object

In [ ]:
musemu[["lat", "lon"]] = musemu[["lat", "lon"]].apply(pd.to_numeric, errors='coerce')

In [ ]:
musemu.head()

      id        lat         lon
8     10  49.176354 -123.112783
13    15  49.261938 -123.151123
21    24  49.278786 -123.098796
208  254  49.280310 -123.122836
267  317  49.201777 -122.911292

In [ ]:
musemu.to_csv('van_museum.csv', index=False)

In [ ]:
van.DBUID.nunique()

15197

In [ ]:
van.rename(columns={'DBUID':'id'}, inplace=True)

In [ ]:
van['id'] = van['id'].apply(str)
van.id.count()

15197

In [ ]:
samp = pd.read_csv('/content/data/MyDrive/Capstone_Data/poa_hexgrid.csv')
samp.head()

                id        lon        lat  population  schools
0  89a901291abffff -51.158246 -30.053846           0        0
1  89a9012a3cfffff -51.211867 -30.100576         159        0
2  89a901295b7ffff -51.165206 -30.075442        1008        0
3  89a901284a3ffff -51.205354 -30.090046          92        0
4  89a9012809bffff -51.195754 -30.078387         577        0

In [ ]:
cols = list(van.columns.values)
cols

['id', 'DBPOP', 'lat', 'lon']

In [ ]:
van = van[['id', 'lon', 'lat', 'DBPOP']]

In [ ]:
van.loc[:, 'schools'] = 0
van.head()

                 id       lon      lat DBPOP  schools
442430  59150004004 -123.2738  49.3739    35        0
442431  59150004005 -123.2757  49.3746    50        0
442432  59150004006 -123.2763  49.3738    94        0
442433  59150004011 -123.2725  49.3735     0        0
442434  59150004012 -123.2729  49.3725     0        0

In [ ]:
van.rename(columns={'DBPOP':'population'}, inplace=True)

In [ ]:
musemu.describe()

                id
count    92.000000
mean   5487.630435
std    3265.823834
min      10.000000
25%    2577.250000
50%    6323.000000
75%    8581.000000
max    9644.000000

In [ ]:
van.to_csv('vancouver_db.csv', index=False)